<!--Template-Template-->
<div class="content-head">
    <h2>Kategorie bearbeiten</h2>
</div>
<div class="content-body">
    <form class="page" id="category-form">
        <input type="hidden" name="id" value="#context.id#"/>
        <label for="name">Kategroiename</label>
        <input type="text" id="name" name="name" value="#context.name#" required/>
    </form>
</div>
<div class="content-footer">
    <button class="blue" data-action="save">Absenden</button>
    <button data-action="cancel">Zurück</button>
</div>
<!--EOF-->