<!--Template-Template-->
<div class="content-head">
    <h2>Komponentenübersicht</h2>
</div>
<div class="content-body">
    <select>
        <option value="asdf">Alle Komponenten</option>
        <option>Projekt 1</option>
        <option>Projekt 2</option>
        <option>Projekt 3</option>
    </select>
    <button class="blue">Absenden</button>
    <!--All-Components-->
    <table id="list" class="table-list">
        <thead class="table-head">
        <tr>
            <th class="clickable">Name</th>
            <th class="clickable">Vorname</th>
            <th class="clickable">Rolle</th>
            <th>E-Mail</th>
            <th>Telefon</th>
            <th>Adresse</th>
        </tr>
        </thead>
        <tbody class="table-body">
        </tbody>
        <tfoot class="table-foot">
        <tr>
            <th>Name</th>
            <th>Vorname</th>
            <th>Rolle</th>
            <th>E-Mail</th>
            <th>Telefon</th>
            <th>Adresse</th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="content-footer">

</div>
<!--EOF-->